body {
font-size: 200%;
}
button{
    color: rgb(0, 0, 0);
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #000000;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 0;
}