{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid bg-1 text-center">
        <h1>Web Calculator Project</h1>
        <h3><a href="/calculator">Link to the calculator</a></h3>
        <h3>Links to the updated webpages</h3>
        <a href="/calculator"></a>
        <a href="/pylint"><button href="/AAAtest" type="button">Pylint</button></a>
        <a href="/AAAtest"><button href="/AAAtest" type="button">AAA Testing</button></a>
        <a href="/AAAtest"><button href="/AAAtest" type="button">AAA Testing</button></a>
        <a href="/AAAtest"><button href="/AAAtest" type="button">AAA Testing</button></a>
        <br>
        <img src="{{ url_for('static', filename='images/sample.jpeg') }}" alt="image">
    </div>
{% endblock %}
