{% extends "base.html" %}
{% block title %}Calculator{% endblock %}
{% block content %}
    {% if [data] %}
        <table class="table">
            <thead>
                <th scope="col">Input 1</th>
                <th scope="col">Input 2</th>
                <th scope="col">Operation</th>
                <th scope="col">Result</th>
            </thead>
            <tbody>
            {% for i in range(length) %}
                <tr>
                    <th scope="col">{{ data.input_1[i] }}</th>
                    <th scope="col">{{ data.input_2[i] }}</th>
                    <th scope="col">{{ data.operation[i] }}</th>
                    <th scope="col">{{ data.result[i] }}</th>
                </tr>
            {% endfor %}
    {% else %}
        <h1>There are no calculations</h1>
    {% endif %}
            </tbody>
        </table>
{% endblock %}
