{% extends "base.html" %}
{% block title %}Calculator{% endblock %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Input 1</th>
        <th>Input 2</th>
        <th>Operation</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'id'},
          {data: 'input_1'},
          {data: 'input_2', orderable: false},
          {data: 'operation', orderable: false},
          {data: 'result'}
        ],
      });
    });
  </script>
{% endblock %}